$gray: lighten(gray, 30%);

.page {
  display: flex;
  flex-direction: column;

  height: 100vh;

  .canvas {
    display: flex;
    justify-content: center;

    height: 30%;

    background-color: black;
    color: white;

    .canvas-container {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        margin: 0;
      }

      a {
        color: white;

        &:hover {
          color: $gray;
        }
      }
    }
  }

  .gallery {
    height: 70%;

    background-color: $gray;
  }
}
